/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 19, 2014, 12:46:04 PM
    Author     : shahul
*/

body{
    background: #f4f3f3;
}

.headerContents {
margin-top: -40px;
margin-left: 140px;
height: 80px;
width: 367px;
}

.horizontalMenuFull {
clear: both;
display: block;
margin-bottom: 16px;

background: #659fd6;
background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#458bcd),color-stop(1,#659fd6));
background: -ms-linear-gradient(bottom,#458bcd,#659fd6);
background: linear-gradient(to top,#458bcd,#659fd6);
background: -o-linear-gradient(bottom,#458bcd 0,#659fd6 100%);
background: -moz-linear-gradient(center bottom,#458bcd 0,#659fd6 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#659fd6',endColorStr='#458bcd',GradientType='0');
border-top: solid 1px #3d86cb;
border-left: solid 1px #3d86cb;
border-right: solid 1px #3d86cb;
border-bottom: solid 1px #357ec4;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}


.horizontalMenuItem {
display: table-cell;
vertical-align: middle;
padding: 0 15px;
color: #fff;
font-weight: bold;
text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
a {
text-decoration: none;
color: #2f63a3;
}
user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}
Inherited from li.horizontalMenuContentItem.horizontalMenuContentItem-active
.horizontalMenuContentItem:hover, .horizontalMenuContentItem-active, .horizontalMenuContentItem-openPopup {
background: #7abbf0;
background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#4d96d6),color-stop(1,#7abbf0));
background: -ms-linear-gradient(bottom,#4d96d6,#7abbf0);
background: linear-gradient(to top,#4d96d6,#7abbf0);
background: -o-linear-gradient(bottom,#4d96d6 0,#7abbf0 100%);
background: -moz-linear-gradient(center bottom,#4d96d6 0,#7abbf0 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7abbf0',endColorStr='#4d96d6',GradientType='0');
color: #fff;
text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
text-decoration: none;
}
.horizontalMenuContentItem:hover, .horizontalMenuContentItem-active, .horizontalMenuContentItem-openPopup {
background: #7abbf0;
background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#4d96d6),color-stop(1,#7abbf0));
background: -ms-linear-gradient(bottom,#4d96d6,#7abbf0);
background: linear-gradient(to top,#4d96d6,#7abbf0);
background: -o-linear-gradient(bottom,#4d96d6 0,#7abbf0 100%);
background: -moz-linear-gradient(center bottom,#4d96d6 0,#7abbf0 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7abbf0',endColorStr='#4d96d6',GradientType='0');
color: #fff;
text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
text-decoration: none;
}



.horizontalMenuContentItem {
list-style-type: none;
float: left;
margin-left: 1px;
border-left: 1px solid rgba(255,255,255,0.2);
border-right: 1px solid rgba(255,255,255,0.2);
-webkit-box-shadow: 1px 0 0 rgba(0,0,0,0.4);
-moz-box-shadow: 1px 0 0 rgba(0,0,0,0.4);
box-shadow: 1px 0 0 rgba(0,0,0,0.4);
white-space: nowrap;
overflow: hidden;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}
Inherited from ul.horizontalMenuContent
.horizontalMenuContent {
position: relative;
padding: 0;
margin: 0;
display: block;
overflow: hidden;
height: 33px;
line-height: 33px;
height: 37px;
line-height: 37px;
}
user agent stylesheetul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}








body, td, th, input, textarea, select, button {
font-family: Arial,helvetica,sans-serif;
font-size: 12px;
color: #333;
}
body {
border: 0;
padding: 0;
-webkit-font-smoothing: antialiased;
}

/* {
margin: 0;
}*/

span {
display: inline;
}



.horizontalMenuContent {
position: relative;
padding: 0;
margin: 0;
display: block;
overflow: hidden;
height: 33px;
line-height: 33px;
height: 37px;
line-height: 37px;
margin-left: 250px;

}
* {
margin: 0;
}
user agent stylesheetul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}



.mainCenter {
background-color: #fff;
border: 1px solid #d9d9d9;
padding: 16px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
width: 720px;
float: left;
margin-bottom: 20px;
color: #333;
}


.dashboardAction:hover {
text-decoration: none;
border: 1px solid #79a4d8;
box-shadow: 0 0 6px rgba(121,164,216,0.7);
}
a:hover {
text-decoration: underline;
}
.dashboardAction {
display: block;
float: left;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
-webkit-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.12),1px 1px 1px 0 #fff inset;
-moz-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.12),1px 1px 1px 0 #fff inset;
box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.12),1px 1px 1px 0 #fff inset;
margin: 17px 0 0 17px;
background: #fbfdfe;
background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#eff8fc),color-stop(1,#fbfdfe));
background: -ms-linear-gradient(bottom,#eff8fc,#fbfdfe);
background: linear-gradient(to top,#eff8fc,#fbfdfe);
background: -o-linear-gradient(bottom,#eff8fc 0,#fbfdfe 100%);
background: -moz-linear-gradient(center bottom,#eff8fc 0,#fbfdfe 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbfdfe',endColorStr='#eff8fc',GradientType='0');
border-color: #d9e2ee #c1cce4 #c1cce4 #d9e2ee;
border-style: solid;
border-width: 1px;
height: 90px;
width: 103px;
text-align: center;
}
a {
text-decoration: none;
color: #2f63a3;
}
* {
margin: 0;
}
user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}
Inherited from div#org.cyclos.client.app.users.users.UserHomePage.page
.page {
color: #333;
display: block;
clear: both;
}


.formContainer-box {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #d9d9d9;
background-color: #f9fbfc;
padding: 10px;
}


.formContainer {
clear: both;
display: block;
overflow: auto;
margin-bottom: 16px;
}
* {
margin: 0;
}
user agent stylesheetdiv {
display: block;
}
Inherited from div#org.cyclos.client.app.users.users.UsersSearchPage.page
.page {
color: #333;
display: block;
clear: both;
}


.tiledResultThumbnail div, .tiledResultThumbnail img {
max-width: 150px!important;
margin: auto;
}


.ICON-NO_IMAGE {
width: 140px;
height: 140px;
background: url("../img/pagefile.png") no-repeat scroll 0 0 transparent;
//background-image:url(../img/pagefile.png.jpg);
}
.noImage {
color: #bbb;
font-weight: bold;
text-align: center;
vertical-align: middle;
display: table-cell;
position: relative;
}
* {
margin: 0;
}
user agent stylesheetdiv {
display: block;
}
Inherited from td.tiledResultThumbnail.tiledResult-selectable
.tiledResults>tbody>tr>td {
text-align: center;
vertical-align: top;
}
.tiledResult-selectable {
cursor: pointer;
}
.dashboardActionLabel
{
margin-left:14px;
}

