#maincontainer {
	width: 960px;
	margin: 0 auto;
}

body {
	background: #fff url(/html/image/stripe.png) repeat-x scroll 0% 0%;
	color: #333;
	margin: 0;
	padding: 0;
	font: 16px/1.5em arial, helvetica, verdana, sans-serif;
}


#contentwrapper {
	float: left;
	width: 100%;
}

#maincolumn {
	margin-top: 12px;
	margin-left: 200px;
}

.text {
	margin: 0 0 15px 15px;
}

#leftcolumn {
	margin-top: 15px;
	float: left;
	width: 200px;
	margin-left: -960px;
}

* html #leftcolumn { margin-top: 13px; }
* html #maincolumn { margin-top: 10px; }




#headline1 { 
	padding: 15px 0 40px 0; 
}

#headline1 .title { 
	font: normal 35px/35px georgia, "times new roman", times, serif; 
	border-bottom: 1px solid #999; 
	color: #cc0000; 
	padding-left: 20px; 
	margin-bottom: 4px; 
}

* html #headline1 .title { 
	margin-bottom: 0; 
}


#headline1 span.subtitle { 
	background-color: #999; 
	color: #fff; 
	font: bold 15px/15px arial verdana, helvetica, sans-serif; 
	letter-spacing: 4px; 
	margin: 0 0 20px 198px; 
	padding: 4px 4px 4px 8px; 
	text-transform: uppercase; 
}










#navtoplist {
	padding: 0;
	width: 100%;
	background: transparent;
	voice-family: "\"}\"";
	voice-family: inherit;
}

#navtoplist ul {
	font: bold 16px arial;
	margin: 0;
	margin-left: 20px;
	padding: 0;
	list-style: none;
}

#navtoplist li {
	display: inline;
	margin: 0 2px 0 0;
	padding: 0;
}

#navtoplist a, #navtoplist a:link, #navtoplist a:visited {
	float: left;
	display: block;
	color: #fff;
	margin: 0 1px 0 0;
	padding: 5px 10px;
	text-decoration: none;
	letter-spacing: 1px;
	background: #333 url(/html/image/button.png) repeat-x;
	border-bottom: 1px solid #fff;
}

#navtoplist a:hover{
	background: #999;
}

#navtoplist #current a {
	background: #5190b2 url(/html/image/button_current.png) repeat-x; 
	border-color: #5190b2;
}

#navtoplistline {
	clear: both;
	padding: 0;
	width: 100%;
	height: 5px;
	line-height: 5px;
	background: #5190b2;
	margin-bottom: 5px; 
}


